{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    {% for match in matches %}
        <div class="col-12 col-md-6">
            <div class="card">
                {% if "placeholder" in match.image.url %}
                    <img src="{% static 'images/logo2.jpeg' %}" alt="{{ match.title }}" class="card-img-top img-fluid">
                {% else %}
                    <img src="{{ match.image.url }}" alt="{{ match.title }}" class="card-img-top img-fluid">     
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ match.title }}</h5>
                    <p class="card-text">{{ match.summary }}</p>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'edit_match' match.id %}" class="btn btn-success">Edit</a>
                        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete-{{ match.id }}">Delete</a>
                        <!-- Modal: delete match as superuser -->
                        <div class="modal fade" id="modal-delete-{{ match.id }}" tabindex="-1" aria-labelledby="modal-delete-{{ match.id }}-label" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="modal-delete-{{ match.id }}-label">Delete Match</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this match?
                                    <br><br>
                                    {{ match.title }}
                                    <br><br>
                                    <small>This is permanent and cannot be undone.</small>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                                <a href="{% url 'delete_match' match.id %}" class="btn btn-danger">Yes</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}