@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&display=swap');
body {
    background-color: #DDD0C8;
    margin: 20px;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
}


.navbar {
    background-color: #964B00;
    position: fixed;
    top: 0%;
    width: 100%;
    height: auto;
    font-family: 'Indie Flower', cursive;}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}


h1  {
    color: #323232;
    font-size: 50px;
}

li  {
     color: #323232;
}

#logo1    {
    margin-bottom: 100px;
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin-top: 150px;
}

#logo2    {
    margin-bottom: 60px;
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.push   {
    margin-top: 100px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

section {
    z-index: -1;
    padding-top: 60px;
}

.btn  {
    width: 30%;
    margin-bottom: 50px;
}

hr  {
    border: 1px solid #964B00;
}

@media screen and (min-width:860px) {
    #logo1  {
        height: 500px;  
        width: 75%;
    }
    #logo2  {
        height: 500px;  
        width: 75%;
    }
    .btn    {
        height: 50px;
        width: 15%;
    }
    p {
        font-size: 20px;
    }

    h2  {
        font-size: 40px;
    }
}
    
