/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&display=swap');

/* Body */
body {
    background-color: #000000;
    font-family: 'DM Sans', sans-serif;
}

/* Navbar */
.navbar {
    background-color: #3e0a4e;
    position: fixed;
    top: 0%;
    width: 100%;
    height: auto;
    font-family: 'Indie Flower', cursive;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.heading {
    text-align: center;
}

.push {
    margin-top: 100px;
}

li {
    color: #ffffff;
}

/* Headings */

h1 {
    color: #ffffff;
}

h2 {
    color: #fffdfd;
    margin-top: 100px;
    margin-bottom: 120px;
}

p  {
    color: #ffffff;
}

/* Media */

#logo {
    margin-bottom: 60px;
    height: 250px;
    width: 100%;
    object-fit: cover;
}

#indexpic   {
    object-fit: cover;
    height: 400px;
}

/* Layout */

section {
    z-index: -1;
    padding-top: 60px;
}

/* Button  */

.btn {
    width: 30%;
    margin-bottom: 50px;
}

/* Hr */

hr {
    border: 1px solid #d4d4d4;
}


/* Media Queries */

@media screen and (min-width:860px) {
    
    #logo {
        height: 500px;
        width: 75%;
    }


    p {
        font-size: 20px;
    }

    h2 {
        font-size: 40px;
    }

}