{% extends "base.html" %}
{% load static %}
{% block content %}

    <div>
        <h2 class="center push">
            About Page
        </h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img id="logo2" class="center rounded-sm" src="{% static 'images/cantona.png' %}" type="images/jpeg">
            </div>
            <div class="col-sm">
                <img id="logo2" class="center rounded-sm" src="{% static 'images/henry.png' %}" type="images/jpeg">
            </div>
            <div class="col-sm">
                <img id="logo2" class="center rounded-sm" src="{% static 'images/cooper.png' %}" type="images/jpeg">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
                <p>Football Checkin was created for your everyday checkin after games or big news in the football world, a safe place where you can recieve blog posts daily.</p>
</div>
</div>
<hr>


{% endblock %}