{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>
    <div class="row justify-content-md-center">
        Welcome to the Football Checkin
    </div>
</h1>

<h2>
    <div class="row justify-content-md-center">
        This is the Home Page of Fans looking to be updated on daily football blogs and news of their favourite teams in
        each league
    </div>
</h2>

<h2>
    <div class="row justify-content-md-center">
        Within this website a user can create blogs about recent games, transfers or anything football related, in any league about clubs arounds the world and the progress they see with them.
    </div>
</h2>

<h2>
    <div class="row justify-content-md-center">
        Users can great blogs with opinions or simply just facts!
    </div>
</h2>

{% endblock %}