{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Welcome to Football Checkin</h1>

<h2>This is the Home Page of Fans looking to be updated on daily football blogs and news of their favourite teams in
    each league</h2>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img id="pll" class="center rounded-sm" src="{% static 'images/pll.png' %}" type="images/jpeg">
        </div>
        <div class="col-sm">
            <img id="sll" class="center rounded-sm" src="{% static 'images/sll.png' %}" type="images/jpeg">
        </div>
        <div class="col-sm">
            <img id="bll" class="center rounded-sm" src="{% static 'images/bll.png' %}" type="images/jpeg">
        </div>
        <div class="col-sm">
            <img id="lll" class="center rounded-sm" src="{% static 'images/lll.png' %}" type="images/jpeg">
        </div>
        <div class="col-sm">
            <img id="l1ll" class="center rounded-sm" src="{% static 'images/l1ll.png' %}" type="images/jpeg">
        </div>
    </div>
</div>

{% endblock %}