{% extends "base.html" %}

{% block content %}

    <!-- Blog -->
    <div>
        <img id="logo1" class="center" src="{% static 'images/logo2.jpg' %}" type="images/jpeg">
    </div>
    <h2 class="center">Manchester United make late comeback to win 3-2</h2>
    <div>
        <img id="logo2" class="center rounded-sm" src="{% static 'images/post1.jpeg' %}" type="images/jpeg">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <p>United barely get away with a win after going 2-0 in the first 5 minutes to Nottingham Forrest but
                some magic
                from Bruno, United grasp the win.</p>
        </div>
    </div>
    <hr>
    <!-- Blog -->
    <h2 class="center">Newcastle flop vs 10 man Liverpool with two late goals from Darwin Nunez</h2>
    <div>
        <img id="logo2" class="center rounded-sm" src="{% static 'images/post2.jpg' %}" type="images/jpeg">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <p>Darwin Nunez shows off why hes worth the money paid for him last summer with two quick and clinical goals
                for a very important win.</p>
        </div>
    </div>

    <div>
        <div>
            <!-- Buttons -->
            <button type="button" class="btn btn-success center">Like</button>
            <button type="button" class="btn btn-danger center">Dislike</button>
            <!-- Buttons -->
            <button type="button" class="btn btn-success center">Like</button>
            <button type="button" class="btn btn-danger center">Dislike{{ post.number_likes }}</button>
        </div>
    </div>
    <hr>

    {%endblock%}