{% load static %}
<!-- Html -->
<!DOCTYPE html>
<html lang="en">
<!-- Head -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Football Checkin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
</head>
<!-- Body -->

<body>
    <header class="container">
        <!-- Nav -->
        <nav class="navbar fixed-top navbar-expand-lg">
            <a class="heading" href="{% url 'index' %}">Football Checkin</a>
            <!-- List -->
            <ul class="nav d-flex float-right">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign Out</a>
                </li>
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a href="{% url 'add_match' %}" class="nav-link">Add Match</a>
                        </li>
                    {% endif %}
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign up</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'matches' %}">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
        </nav>
    </header>

    {% if messages %}
        <section id="alerts">
            {% for msg in messages %}
                <!-- all django message tags mirror bootstrap, except error/danger -->
                <aside class="alert {% if msg.tags == 'error' %}alert-danger{% else %}alert-{{ msg.tags }}{% endif %} text-center" role="alert">
                    <h3>{{ msg }}</h3>
                </aside>
            {% endfor %}
        </section>
    {% endif %}

    <hr>

    <main class="container-fluid mt-5">
        {% block content %}
            <!-- Content Goes here -->
        {% endblock content %}
    </main>
    
    <!-- Footer -->
    <footer>
        <p class="center">Copyright 2023</p>
        <p class="center"><a href="https://github.com/JoshuaCarroll1"><i class="fa-brands fa-github"></i></p>
    </footer>
</body>
<script src="https://kit.fontawesome.com/ca67bd5760.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</html>